.default,
.hover {
  font-size: 18px;
  font-weight: bold;
  color: #787878;
  cursor:pointer;
}

.hover {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  color: navy;
  white-space: wrap;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.wrapper:hover .hover {
  width:100%;
  height:100%;
  animation: stagger ;
  transition: 0.5s;
}

@keyframes stagger {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
